
body {
  font-family: 'Roboto', sans-serif;
  background-color: #f0f8ff; 
  margin: 0;
  padding: 20px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); 
  border-radius: 10px; 
}


h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333; 
}


nav {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

nav button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #007bff; 
  color: #fff; 
}

nav button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}

/* Dropdown menu styling */
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Styling for the account details container */
#accountDetails {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Styling for each stock item */
.stock {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #e6f7ff; 
}

/* Styling for the stock info section */
.stock .info {
  flex-grow: 1;
  font-size: 16px;
  color: #333;
}

/* Styling for the buy button */
.stock button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

/* Hover effect for the buy button */
.stock button:hover {
  background-color: #218838; 
}

/* View containers styling */
.view {
  display: none;
}

.view.active {
  display: block;
}

/* Styling for transaction summary in assets overview */
.transaction-summary, .transaction-overview {
  margin-top: 20px;
}

.transaction-summary ul {
  list-style-type: none;
  padding: 0;
}

.transaction-summary li {
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.transaction-summary li span {
  display: block;
  font-weight: bold;
}
